In [1]:
import ee
import geemap
import geopandas as gpd
geemap.ee_initialize()

In [3]:
data ='https://github.com/gee-community/geemap/blob/master/examples/data/us_cities.csv'
geemap.csv_to_df(data)

                name sov_a3  latitude  longitude   pop_max     region
0     San Bernardino    USA  34.12038 -117.30003   1745000       West
1         Bridgeport    USA  41.17998  -73.19996   1018000  Northeast
2          Rochester    USA  43.17043  -77.61995    755000  Northeast
3           St. Paul    USA  44.94399  -93.08497    734854    Midwest
4           Billings    USA  45.78830 -108.54000    104552       West
..               ...    ...       ...        ...       ...        ...
104          Atlanta    USA  33.83001  -84.39995   4506000      South
105          Chicago    USA  41.82999  -87.75005   8990000    Midwest
106      Los Angeles    USA  33.98998 -118.17998  12500000       West
107  Washington D.C.    USA  38.89955  -77.00942   4338000      South
108         New York    USA  40.74998  -73.98002  19040000  Northeast

[109 rows x 6 columns]

In [4]:
geemap.csv_to_geojson(data, 'cities.geojson', latitude='latitude', longitude='longitude')

In [5]:
geemap.csv_to_shp(data, 'cities.shp', latitude='latitude', longitude='longitude')
geemap.csv_to_gdf(data, latitude='latitude', longitude='longitude')
geemap.csv_to_vector(data, 'cities.gpkg', latitude='latitude', longitude='longitude')

In [6]:
gdf= geemap.csv_to_gdf(data, latitude='latitude', longitude='longitude')
gdf

,name,sov_a3,latitude,longitude,pop_max,region,geometry
0,San Bernardino,USA,34.12038,-117.30003,1745000,West,POINT (-117.30003 34.12038)
1,Bridgeport,USA,41.17998,-73.19996,1018000,Northeast,POINT (-73.19996 41.17998)
2,Rochester,USA,43.17043,-77.61995,755000,Northeast,POINT (-77.61995 43.17043)
3,St. Paul,USA,44.94399,-93.08497,734854,Midwest,POINT (-93.08497 44.94399)
4,Billings,USA,45.78830,-108.54000,104552,West,POINT (-108.54000 45.78830)
...,...,...,...,...,...,...,...
104,Atlanta,USA,33.83001,-84.39995,4506000,South,POINT (-84.39995 33.83001)
105,Chicago,USA,41.82999,-87.75005,8990000,Midwest,POINT (-87.75005 41.82999)
106,Los Angeles,USA,33.98998,-118.17998,12500000,West,POINT (-118.17998 33.98998)
107,Washington D.C.,USA,38.89955,-77.00942,4338000,South,POINT (-77.00942 38.89955)
108,New York,USA,40.74998,-73.98002,19040000,Northeast,POINT (-73.98002 40.74998)

In [2]:
regions= 'https://github.com/gee-community/geemap/blob/master/examples/data/us_regions.geojson'

In [4]:
m= geemap.Map(center=[40,-100], zoom=4)
m.add_geojson(regions, layer_name='US Regions')
m.add_points_from_xy(
    data,
    x='longitude',
    y='latitude',
    layer_name='US Cities',
    color_column= 'region',
    icon_names= ['gear', 'cloud', 'home', 'star'],
    spin= True,
    add_legend= True,
    
)
m

Map(center=[40, -100], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(châ€¦

In [7]:
Map= geemap.Map(center=[40,-100], zoom=4)
Map.add_circle_markers_from_xy(
    data,
    x='longitude',
    y='latitude',
    radius=4,
    color='red',
    fill_color='red',
    fill_opacity=1,
)
Map

Map(center=[40, -100], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(châ€¦

## Vector data to Earth Engine

In [8]:
geojson= 'https://github.com/gee-community/geemap/blob/master/examples/data/us_cities.geojson'
Map= geemap.Map(center=[40,-100], zoom=4)
fc= geemap.geojson_to_ee(geojson)
Map.addLayer(fc, {}, 'US Cities')
Map

Downloading...
From: https://raw.githubusercontent.com/gee-community/geemap/master/examples/data/us_cities.geojson
To: C:\Users\zyang\AppData\Local\Temp\95eaf843-bad4-4ed2-8b56-b3336f334192.geojson
25.8kB [00:00, 17.7MB/s]

Map(center=[40, -100], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(châ€¦

## join attribute table

In [9]:
Map= geemap.Map()
countires= ee.FeatureCollection(geemap.examples.get_ee_path('countries'))
Map.addLayer(countires, {}, 'Countries')
Map

Map(center=[0, 0], controls=(WidgetControl(options=['position', 'transparent_bg'], widget=SearchDataGUI(childrâ€¦

In [10]:
geemap.ee_to_df(countires)

,CONTINENT,GDP_MD_EST,INCOME_GRP,ISO_A2,ISO_A3,NAME,POP_EST,POP_RANK,SUBREGION
0,Asia,25810.0,5. Low income,TJ,TJK,Tajikistan,8468555,13,Central Asia
1,Asia,21010.0,5. Low income,KG,KGZ,Kyrgyzstan,5789122,13,Central Asia
2,Asia,40000.0,5. Low income,KP,PRK,North Korea,25248140,15,Eastern Asia
3,Asia,628400.0,5. Low income,BD,BGD,Bangladesh,157826578,17,Southern Asia
4,Asia,71520.0,5. Low income,NP,NPL,Nepal,29384297,15,Southern Asia
...,...,...,...,...,...,...,...,...,...
171,South America,182400.0,3. Upper middle income,EC,ECU,Ecuador,16290913,14,South America
172,South America,78350.0,4. Lower middle income,BO,BOL,Bolivia,11138234,14,South America
173,South America,6093.0,4. Lower middle income,GY,GUY,Guyana,737718,11,South America
174,South America,64670.0,4. Lower middle income,PY,PRY,Paraguay,6943739,13,South America
175,Seven seas (open ocean),16.0,2. High income: nonOECD,TF,ATF,Fr. S. Antarctic Lands,140,1,Seven seas (open ocean)

In [12]:
data= 'https://github.com/gee-community/geemap/blob/master/examples/data/country_centroids.csv'
df= geemap.csv_to_df(data)
df

    country  latitude  longitude
0        AD  42.54625    1.60155
1        AE  23.42408   53.84782
2        AF  33.93911   67.70995
3        AG  17.06082  -61.79643
4        AI  18.22055  -63.06862
..      ...       ...        ...
239      YE  15.55273   48.51639
240      YT -12.82750   45.16624
241      ZA -30.55948   22.93751
242      ZM -13.13390   27.84933
243      ZW -19.01544   29.15486

[244 rows x 3 columns]

In [13]:
fc= geemap.ee_join_table(countires, data, src_key='ISO_A2', dst_key='country')
geemap.ee_to_df(fc)

,CONTINENT,GDP_MD_EST,INCOME_GRP,ISO_A2,ISO_A3,NAME,POP_EST,POP_RANK,SUBREGION,latitude,longitude
0,Asia,25810.0,5. Low income,TJ,TJK,Tajikistan,8468555,13,Central Asia,38.86103,71.27609
1,Asia,21010.0,5. Low income,KG,KGZ,Kyrgyzstan,5789122,13,Central Asia,41.20438,74.76610
2,Asia,40000.0,5. Low income,KP,PRK,North Korea,25248140,15,Eastern Asia,40.33985,127.51009
3,Asia,628400.0,5. Low income,BD,BGD,Bangladesh,157826578,17,Southern Asia,23.68499,90.35633
4,Asia,71520.0,5. Low income,NP,NPL,Nepal,29384297,15,Southern Asia,28.39486,84.12401
...,...,...,...,...,...,...,...,...,...,...,...
171,South America,182400.0,3. Upper middle income,EC,ECU,Ecuador,16290913,14,South America,-1.83124,-78.18341
172,South America,78350.0,4. Lower middle income,BO,BOL,Bolivia,11138234,14,South America,-16.29015,-63.58865
173,South America,6093.0,4. Lower middle income,GY,GUY,Guyana,737718,11,South America,4.86042,-58.93018
174,South America,64670.0,4. Lower middle income,PY,PRY,Paraguay,6943739,13,South America,-23.44250,-58.44383
175,Seven seas (open ocean),16.0,2. High income: nonOECD,TF,ATF,Fr. S. Antarctic Lands,140,1,Seven seas (open ocean),-49.28037,69.34856

### Open Street Map