In [1]:
import ee
import geemap
import geopandas as gpd
geemap.ee_initialize()

In [3]:
data ='https://github.com/gee-community/geemap/blob/master/examples/data/us_cities.csv'
geemap.csv_to_df(data)

                name sov_a3  latitude  longitude   pop_max     region
0     San Bernardino    USA  34.12038 -117.30003   1745000       West
1         Bridgeport    USA  41.17998  -73.19996   1018000  Northeast
2          Rochester    USA  43.17043  -77.61995    755000  Northeast
3           St. Paul    USA  44.94399  -93.08497    734854    Midwest
4           Billings    USA  45.78830 -108.54000    104552       West
..               ...    ...       ...        ...       ...        ...
104          Atlanta    USA  33.83001  -84.39995   4506000      South
105          Chicago    USA  41.82999  -87.75005   8990000    Midwest
106      Los Angeles    USA  33.98998 -118.17998  12500000       West
107  Washington D.C.    USA  38.89955  -77.00942   4338000      South
108         New York    USA  40.74998  -73.98002  19040000  Northeast

[109 rows x 6 columns]

In [4]:
geemap.csv_to_geojson(data, 'cities.geojson', latitude='latitude', longitude='longitude')

In [5]:
geemap.csv_to_shp(data, 'cities.shp', latitude='latitude', longitude='longitude')
geemap.csv_to_gdf(data, latitude='latitude', longitude='longitude')
geemap.csv_to_vector(data, 'cities.gpkg', latitude='latitude', longitude='longitude')

In [6]:
gdf= geemap.csv_to_gdf(data, latitude='latitude', longitude='longitude')
gdf

,name,sov_a3,latitude,longitude,pop_max,region,geometry
0,San Bernardino,USA,34.12038,-117.30003,1745000,West,POINT (-117.30003 34.12038)
1,Bridgeport,USA,41.17998,-73.19996,1018000,Northeast,POINT (-73.19996 41.17998)
2,Rochester,USA,43.17043,-77.61995,755000,Northeast,POINT (-77.61995 43.17043)
3,St. Paul,USA,44.94399,-93.08497,734854,Midwest,POINT (-93.08497 44.94399)
4,Billings,USA,45.78830,-108.54000,104552,West,POINT (-108.54000 45.78830)
...,...,...,...,...,...,...,...
104,Atlanta,USA,33.83001,-84.39995,4506000,South,POINT (-84.39995 33.83001)
105,Chicago,USA,41.82999,-87.75005,8990000,Midwest,POINT (-87.75005 41.82999)
106,Los Angeles,USA,33.98998,-118.17998,12500000,West,POINT (-118.17998 33.98998)
107,Washington D.C.,USA,38.89955,-77.00942,4338000,South,POINT (-77.00942 38.89955)
108,New York,USA,40.74998,-73.98002,19040000,Northeast,POINT (-73.98002 40.74998)